@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("http://fonts.cdnfonts.com/css/chunkfive");

* {
  font-family: "Itim", cursive;
  color: rgb(255, 255, 255);
}

body {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "ChunkFive", tahoma;
  font-weight: 400;
}

.backerWrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.backer {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50px;
  z-index: -1;
  position: absolute;
  width: 50vw;
  min-width: 530px;
  max-width: 800px;
  min-height: 490px;
  height: 40vh;
  border: 4px rgba(0, 0, 0, 0.5);
  outline: 5px solid rgb(255, 173, 20);
  outline-offset: -15px;
  backdrop-filter: blur(5px);
}

.wallpaper {
  position: absolute;
  background-image: url("img/wallpaper - copy.png");
  background-repeat: repeat;
  height: 100vh;
  max-width: 100vw;
  z-index: -1;
}

.navbalk {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("img/waffleconerepeating.png");
  background-repeat: repeat;
  height: 180px;
  width: 100vw;
  z-index: -1;
}

.flex-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.leftSideWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 160px;
  max-width: 300px;
  width: 15vw;
  margin-right: 10px;
}

.rightSideWrapper {
  display: flex;
  flex-direction: column;
  min-width: 160px;
  max-width: 300px;
  width: 15vw;
  margin-left: 10px;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerDisplay {
  display: flex;
  justify-content: center;
}

#potjeDisplay {
  width: 153px;
  display: none;
  z-index: 1;
}

#hoorntjeDisplay {
  width: 100px;
  display: none;
  z-index: 1;
}

.ijsjeDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 170px;
  width: 200px;
  border-radius: 50px;
  margin-top: 60px;
}

.invoer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.knoppen {
  display: flex;
  justify-content: center;
  margin-top: 55px;
}

.knop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 80px;
}

#ijsKnopGroen {
  width: 90px;
  position: absolute;
  filter: hue-rotate(160deg);
}

#ijsKnopRood {
  width: 90px;
  position: absolute;
  filter: hue-rotate(12deg);
}

#ijsKnopBlauw {
  width: 90px;
  position: absolute;
  filter: hue-rotate(260deg);
}

#ok,
#clear,
#addToCart {
  width: 40px;
  transition: all 0.15s ease-in-out;
  z-index: 1;
}

#ok:hover,
#clear:hover,
#addToCart:hover {
  transform: scale(1.25);
  transition: 0.15s;
}

.goldHover:hover {
  color: rgb(255, 173, 20);
}

.logo {
  height: 150px;
}

.containers {
  display: flex;
  justify-content: center;
}

.smakenAntwoordenWrapper {
  display: flex;
  flex-direction: column;
}

.smakenAntwoorden,
.containerAntwoorden {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  margin-left: 40%;
}

.smaken {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#vanilleinput,
#chocoladeinput,
#aardbeiinput {
  display: none;
  position: absolute;
  margin-left: 5px;
  width: 50px;
  color: black;
}

#waarschuwing {
  display: none;
}

.containerTitel,
.smakenTitel {
  display: flex;
  justify-content: center;
}

.menuTitel {
  display: flex;
  justify-content: center;
}

.menuItemLijst ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0; /*verplaats list items naar links (over de lege plaats waar de bolletjes stonden)*/
  margin-left: 20px;
  margin-right: 20px;
}

.menuItemLijst ul li {
  list-style-type: none;
  margin-bottom: 10px;
  border-bottom: rgb(255, 173, 20) solid 2px;
}

.menuItemRechts {
  float: right; /*uitlijning vanaf rechtermarge*/
}

#bol0,
#bol1,
#bol2,
#bol3,
#bol4 {
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.ijsjeRowTop {
  display: flex;
  position: absolute;
  margin-bottom: 30px;
  justify-content: center;
}

.ijsjeRowBottom {
  display: flex;
  position: absolute;
  z-index: 1;
  justify-content: center;
}
