@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari&display=swap");

* {
  font-family: "Manek Devanagri", tahoma;
}

body {
  margin: 0;
  padding: 0;
}

.backer {
  background-color: hsl(181, 26.1%, 45.1%, 0.65);
  height: 50vh;
  min-width: 43%;
  position: absolute;
  border-radius: 50px;
  margin-left: -50px;
  margin-top: -220px;
  z-index: -1;
}

.wallpaper {
  position: absolute;
  background-image: url("./wallpaper - copy.png");
  background-repeat: repeat;
  height: 100vh;
  max-width: 100vw;
  z-index: -1;
}

.grid-container {
  display: grid;
  grid-template-columns: ((100%)/5);
  grid-auto-rows: minmax(150px, auto);
  row-gap: 40px;
}

.navbalk {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / span 2;
  grid-row: 1;
  background-image: url("./waffleconerepeating.png");
  background-repeat: repeat;
  height: 180px;
  width: 100vw;
  z-index: -1;
}

.menu {
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
  margin-left: 20vw;
}

.display {
  grid-column: 1;
  grid-row: 3;
  justify-self: center;
  margin-left: 20vw;
}

.invoer {
  grid-column: 2;
  grid-row: 2 / span 3;
  justify-self: center;
  margin-right: 27vw;
}

.knoppen {
  grid-column: 2;
  grid-row: 4;
}

.logo {
  height: 150px;
}

.container {
  font-size: larger;
  font-weight: bolder;
}

.containerAntwoorden {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.smakenAntwoorden {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  font-size: larger;
  font-weight: bolder;
}

.containerTitel,
.smakenTitel {
  display: flex;
  justify-content: center;
}

#hoorntjeinput,
#vanilleinput,
#chocoladeinput,
#aardbeiinput {
  display: none;
}

#waarschuwing {
  display: none;
  font-weight: bold;
}

.menuItemLijst {
  display: flex;
  justify-content: space-around;
}

.menuItemLijst ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0; /*verplaats list items naar link (over de lege plaats waar de bolletjes stonden)*/
  width: 75%;
}

.menuItemLijst ul li {
  list-style-type: none;
  margin-bottom: 10px;
  border-bottom: black dotted 2px;
  font-size: larger;
  font-weight: bolder;
}

.menuItemRechts {
  float: right; /*uitlijning vanaf rechtermarge*/
  font-size: large;
}

.ijsjeDisplay {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  height: 130px;
  max-width: 170px;
  width: 200px;
  border-radius: 50px;
}

#bol0,
#bol1,
#bol2,
#bol3,
#bol4 {
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.ijsjeRowTop {
  display: flex;
  position: absolute;
  margin-bottom: 30px;
}

.ijsjeRowBottom {
  display: flex;
  position: absolute;
  z-index: 1;
}
